.content-frame {
  margin-top: 5%;
  margin-left: 40%;
  text-align: center;
  width: 20%;
}

.admin-btn {
  border: 1px solid black;
  background-color: gray;
  color: black;
  padding: 0.1% 0.1% 0.1% 0.1%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  outline: auto;
}